<% provide(:title, "New feed") %>

<div class="row simple-container">
  <div class="small-11 medium-7 small-centered columns box">
	<header>
	  <h3>New feed</h3>
	</header>

	<%= form_with model: @feed do |f| %>
	  <%= f.label :feed_url, "Feed" %>
	  <%= f.text_field :feed_url, placeholder: 'Paste a feed URL here', autofocus: true %>
	  <%= f.submit "Submit", class: "button radius expanded", data: { disable_with: "Please wait..." } %>
	<% end %>

	<section class="tips">
	  <p><%= icon 'fab', 'wikipedia-w', class: 'fa-fw' %><em> Learn more about <%= link_to 'Web Feeds', 'https://en.wikipedia.org/wiki/Web_feed', target: '_blank' %>.</em></p>
	</section>
  </div>
</div>
