<% id = entry.id.to_s %>
<article>
  <header>
	<h5 class="<%= 'old' if old? entry %>">
	  <strong>
		<%= link_to sanitize(entry.title), entry.url, class: 'entry-title', target: '_blank' %>
	  </strong>
	</h5>
  </header>
  <div class="row">
	<div class="small-12 columns">
	  <% if entry.image %>
		<div class="thumb <%= 'small-thumb' unless @feed.has_only_images %>">
		  <a href="<%= entry.url %>" target="_blank">
			<%= image_tag entry.image %>
		  </a>
		</div>
	  <% end %>
	  <% if entry.description? %>
		<p class="description">
		  <%= sanitize entry.description, tags: ['a'], attributes: ['href'] %>
		</p>
	  <% end %>
	</div>
  </div>
  <% if entry.audio? %>
    <%= audio_tag entry.audio, preload: :metadata, controls: true %>
  <% end %>
  <p class="timestamp">
	<%= time_ago_in_words(entry.pub_date).capitalize %> ago
  </p>
</article>
